In [8]:
import sys
print(sys.version)

3.7.3 (default, Mar 27 2019, 22:11:17)
[GCC 7.3.0]

In [21]:
a = [1,2,3]
a[3:] = [4]
print(a)

[1, 2, 3, 4]

In [10]:
a.extend([1,2,3])

In [11]:
print(a)

[1, 2, 3, 4, 1, 2, 3]

In [12]:
print(a.extend(a))

None

In [13]:
print(a)

[1, 2, 3, 4, 1, 2, 3, 1, 2, 3, 4, 1, 2, 3]

In [14]:
a.extend(a)

In [16]:
print(a)

[1, 2, 3, 4, 1, 2, 3, 1, 2, 3, 4, 1, 2, 3, 1, 2, 3, 4, 1, 2, 3, 1, 2, 3, 4, 1, 2, 3]

In [17]:
a.pop(0)

1

In [18]:
print(a)

[2, 3, 4, 1, 2, 3, 1, 2, 3, 4, 1, 2, 3, 1, 2, 3, 4, 1, 2, 3, 1, 2, 3, 4, 1, 2, 3]

In [19]:
a.clear()

In [23]:
a = [1,2,3]
a[3:] = [4]
a

[1, 2, 3, 4]

In [32]:
print(a.index(4, 3))

3

In [33]:
print(a.count(1))

1

In [34]:
b = a

In [35]:
print(b)

[1, 2, 3, 4]

In [36]:
b.pop()

4

In [37]:
print(a)

[1, 2, 3]

In [38]:
b = a.copy()

In [39]:
b.pop()

3

In [40]:
print(a)

[1, 2, 3]

In [41]:
print(b)

[1, 2]

In [42]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple')

2

In [44]:
fruits.count('tangerine')

0

In [45]:
fruits.count('banana')

2

In [52]:
fruits.index('banana', fruits.index('banana')+1)

6

In [53]:
fruits.reverse()
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [54]:
fruits.sort()

In [55]:
fruits

['apple', 'apple', 'banana', 'banana', 'kiwi', 'orange', 'pear']

In [56]:
stack = [3,4,5]

In [57]:
stack.append(6)
stack.append(7)
stack

[3, 4, 5, 6, 7]

In [58]:
stack.pop()

7

In [59]:
stack

[3, 4, 5, 6]

In [60]:
stack.pop()
stack.pop()
stack

[3, 4]

In [61]:
from collections import deque

In [62]:
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")
queue.append("Graham")
queue.popleft()

'Eric'

In [63]:
queue

deque(['John', 'Michael', 'Terry', 'Graham'])

In [71]:
x = 20
squares = []
for x in range(10):
    squares.append(x**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [73]:
x

9

In [74]:
x = 20
squares = list(map(lambda x: x**2, range(10)))
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [75]:
x

20

In [76]:
squares = [x**2 for x in range(10)]

In [77]:
x

20

In [78]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [79]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [80]:
vec = [-4, -2, 0, 2, 4]
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [81]:
[x for x in vec if x >= 0]

[0, 2, 4]

In [82]:
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [83]:
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']

In [84]:
freshfruit

['  banana', '  loganberry ', 'passion fruit  ']

In [85]:
[x.strip() for x in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [86]:
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [89]:
vec = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [92]:
from math import pi
[str(round(pi, i)) for i in range(1, 10)]

['3.1',
 '3.14',
 '3.142',
 '3.1416',
 '3.14159',
 '3.141593',
 '3.1415927',
 '3.14159265',
 '3.141592654']

In [93]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

In [96]:
print(matrix)

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [103]:
[[row[i] for row in matrix] for i in range(len(matrix[0]))]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [104]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [106]:
print(*matrix)

[1, 2, 3, 4] [5, 6, 7, 8] [9, 10, 11, 12]

In [107]:
a = [-1, 1, 66, 333, 333, 1234.5]
del a[0]

In [108]:
a

[1, 66, 333, 333, 1234.5]

In [125]:
t = 1234, 34134, 'hi'

In [126]:
t

(1234, 34134, 'hi')

In [131]:
u = t, t

In [132]:
u

((1234, 34134, 'hi'), (1234, 34134, 'hi'))

In [133]:
u = u, t

In [134]:
u

(((1234, 34134, 'hi'), (1234, 34134, 'hi')), (1234, 34134, 'hi'))

In [138]:
u[0][1][2]

'hi'

In [139]:
print(*t)

1234 34134 hi

In [140]:
h = [1,2,3]
print(*h)

1 2 3

In [141]:
x, y, z = t
print(x)
print(y)
print(z)

1234
34134
hi

In [142]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)

{'banana', 'orange', 'apple', 'pear'}

In [143]:
'orange' in basket

True

In [144]:
'fdadf' in basket

False

In [145]:
a = set('abracadabra')

In [146]:
b = set('alacazam')

In [147]:
a

{'a', 'b', 'c', 'd', 'r'}

In [148]:
a - b

{'b', 'd', 'r'}

In [149]:
a | b

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [150]:
a & b

{'a', 'c'}

In [151]:
a ^ b

{'b', 'd', 'l', 'm', 'r', 'z'}

In [152]:
a = { x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}